/* styles.module.css */

.container {
	height: 60px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start; /* Adjusted to flex-start */
	box-shadow: var(--box-shadow);
	background-color: white;
	border-radius: 4px;
	padding: 0 10px; /* Added padding for space */
  }
  
  .sort_by {
	font-size: 16px;
	font-weight: 500;
	margin-right: 10px; /* Added margin for space */
  }
  
  .select {
	width: 120px; /* Adjusted width for better visibility */
	height: 30px;
	margin-left: 4px;
	border-radius: 4px;
	border: 1px solid var(--black);
	outline: none;
	cursor: pointer;
	padding: 5px;
  }
  
  .arrow_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	outline: none;
	border: 1px solid var(--black);
	margin-left: 5px;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
  }
  
  .up_arrow,
  .down_arrow {
	font-size: 18px;
	font-weight: bold;
	color: var(--black);
  }
  